<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up</title>
  </head>
  <body>
    <h2>Sign Up</h2>
    <form method="post">
      {% csrf_token %}
      <label for="id_username">Username:</label>
      <input type="text" name="username" id="id_username" /><br /><br />
      <label for="id_email">Email:</label>
      <input type="email" name="email" id="id_email" /><br /><br />
      <label for="id_password">Password:</label>
      <input type="password" name="password" id="id_password" /><br /><br />
      <label for="id_password_confirmation">Confirm Password:</label>
      <input
        type="password"
        name="password_confirmation"
        id="id_password_confirmation"
      /><br /><br />
      <button type="submit">Sign up</button>
    </form>
  </body>
</html>
