<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}My Django App{% endblock %}</title>
  </head>
  <body>
    {% block content %}
    <h1>Welcome to My Django App</h1>
    {% endblock %}
  </body>
</html>
