{% extends "base.html" %} {% block content %}
<h2>Projects</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Total Tasks</th>
    </tr>
  </thead>
  <tbody>
    {% for project in projects %}
    <tr>
      <td>
        <a href="{% url 'projects:show_project' project.id %}"
          >{{ project.name }}</a
        >
      </td>
      <td>{{ project.total_tasks }}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="2">No projects found.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
