{% extends "base.html" %} {% block content %}
<h2>{{ project.name }}</h2>
<p>{{ project.description }}</p>

<h3>Tasks:</h3>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {% for task in tasks %}
    <tr>
      <td>{{ task.title }}</td>
      <td>{{ task.status }}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="2">No tasks found.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
